body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* here define global colors  */

$richblack : #030505;
$jetstram: #bbc7c8;
$stormcloud : #536162;
$pamonagreen : #2c5221; 
$lightgreen :#57E309;
$palesilver :#cebdc6;
$silverpink : #c9a7a6;
$silversand : #bcc4c8;
$feldgreen : #42635c;

